<% provide(:title, "Log in") %>
<h1>ログイン</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(:session, url: login_path) do |f| %>
            
            <%= f.label :Eメール %>
            <%= f.email_field :email %>

            <%= f.label :パスワード %>
            <%= f.password_field :password %>

            <%= f.label :remember_me do %>
                <%= f.check_box :remember_me %>
                <span>ログイン情報を保持する</span>
            <% end %>

            <%= f.submit "ログイン", class:"btn btn-success" %>
        <% end %>

        <p>ユーザー登録がまだですか？ <%= link_to "新規登録", signup_path, class:"btn btn-outline-success" %></p>
        <p>パスワードをお忘れですか？ <%= link_to "パスワード変更", new_password_reset_path, class:"btn btn-outline-success" %></p>
    </div>
</div>