<%= form_for(@dog, url: yield(:url)) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :名前 %>
    <%= f.text_field :name %>

    <%= f.label :性別 %>
    <%= f.select :gender, [["男の子", "男の子"], ["女の子", "女の子"]], include_blank: "選択してください" %>

    <%= f.label :お誕生日 %>
    <%= f.date_select :birthday %>

    <%= f.label :犬種 %>
    <%= f.text_field :breed %>

    <%= f.label :病院 %>
    <%= f.text_field :hospital %>

    <%= f.label :ドッグサロン %>
    <%= f.text_field :salon %>

    <%= f.label :お写真 %>
    <br>
    <% if @dog.image_name? %>
    <%= image_tag @dog.image_name_url, size: "130x150" %>
    <% end %>
    <%= f.file_field :image_name %>
    
    <% if @dog.persisted? && @dog.image_name? %>
        <%= f.check_box :remove_image_name %>
        <span>ファイルを選択しない</span>
    <% end %>
    
    <%= f.submit yield(:btn_text), class: "btn btn-success" %>
<% end %>