<% provide(:title, @user.name) %>
<div class="row">
    <aside class="col-md-4">
        <h3>ユーザー</h3>
        <aside class="jumbotron">
            <section>
                <%= render 'shared/user_info'%>
            </section>
            <section class="stats">
                <%= render 'shared/stats' %>
            </section>
            <section>
                <%= render 'users/message' %>
            </section>
            <section>
                <% if current_user.admin? && !current_user?(@user)%>
                <%= link_to "変更", edit_user_path(current_user) %>
                <br>
                <%= link_to "Delete User", @user, method: :delete, data: {confirm: "You sure?"} %>
                <% elsif !current_user.admin? && current_user?(@user) %>
                <%= link_to "編集", edit_user_path(current_user), class: "btn btn-outline-success" %>
                <% end %>
            </section>
        </aside>
    
    
        <div class="w-100"></div>
        <h3>わんちゃん</h3>
        <aside class="jumbotron">
            <%= render 'shared/dog_info' %>
        </aside>
    </aside>
    <div class="col-md-8">
        <%= render 'follow_form' if logged_in? %>
        <% if @user.microposts.any? %>
        <h3>投稿(<%= @user.microposts.count %>)</h3>
        <ol class="microposts scroll height-fixed">
            <%= render @microposts %>
        </ol>
        <% end %>
    </div>
</div>