<% provide(:title, @user.name) %>
<div>
    <aside>
        <section>
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
        </section>
    </aside>
    <div>
        <% if @user.dogs.any? %>
            <h1>Dogs</h1>
            <ul>
                <%= render @dogs %>
            </ul>
        <% end %>
        <% if @user.dogs.any? && current_user?(@user) %>
            <h5><%= link_to "Add my dog", dogsnew_path %></h5>
        <% elsif !@user.dogs.any? && current_user?(@user) %>
            <h1><%= link_to "Add first dog information!!!", dogsnew_path %></h1>
        <% end %>
        <% if current_user.admin? && !current_user?(@user)%>
        <%= link_to "delete user", @user, method: :delete, data: {confirm: "You sure?"} %>
        <% elsif !current_user.admin? && current_user?(@user) %>
        <%= link_to "delete user", @user, method: :delete, data: {confirm: "You sure?"} %>
        <% end %>
    </div>
    <div>
        <% if @user.microposts.any? %>
        <h3>投稿(<%= @user.microposts.count %>)</h3>
        <ol>
            <%= render @microposts %>
        </ol>
        <% end %>
    </div>
</div>