<% @user ||= current_user %>
<div class="stats">
  <% if @user == current_user %>
    <a href="<%= friends_user_path(@user) %>">
      <strong id="friends" class="stat">
        <%= @user.followers.where(id:@user.following.ids).count %>
      </strong>
      友達
    </a>
  <% end %>
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    フォロー
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    フォロワー
  </a>
</div>