<header class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <div class="container">
    <%= link_to "Community for Dogs", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
        <% if logged_in? %>
          <% if current_user.admin? %>
            <li class="nav-item"><%= link_to "Users index", users_path, class: "nav-link" %></li>
          <% end %>
          <li class="nav-item"><%= link_to "Friends", friends_user_path(current_user), class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Search Friends", user_search_path(current_user), class: "nav-link" %></li>
           <% if current_user.dogs.any? %>
             <li class="nav-item"><%= link_to "My family", current_user, class: "nav-link" %></li>  
           <% else %>
             <li class="nav-item"><%= link_to "My Profile", current_user, class: "nav-link" %></li>
             <li class="nav-item"><%= link_to 'Add first dog information!!!', dogsnew_path, class: "nav-link" %></li>
           <% end %>
          <li class="nav-item"><%= link_to "User Settings", edit_user_path(current_user), class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Log out", logout_path, method: :delete, class: "nav-link" %></li>
        <% else %>
         <li class="nav-item"><%= link_to "Log in", login_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>